@page "/CatalogMusicDetail/{IdMusicCatalog:int}"
@using Client.App.Interfaces

@if (MusicCatalog != null)
{
    <div class="w-full px-10">
        <div class="flex flex-col md:flex-row">
            <div class="w-full md:w-1/2">
                <div class="md:flex md:items-center">
                    <div class="w-4/5">
                        <img src="@(MusicCatalog.Images!.FirstOrDefault()?.Url ?? "https://as1.ftcdn.net/v2/jpg/02/35/30/46/1000_F_235304686_Dabv7XmRksedIMrH4ADfMpN21K1nN67R.jpg")" class="w-full md:max-w-sm rounded-lg mx-auto" alt="">
                    </div>
                    <div class="w-1/5 mt-4 md:mt-0 md:ml-2">
                        <div class="grid grid-cols-1 gap-1">
                            <img class="w-24 h-24" src="https://www.wallpaperbetter.com/wallpaper/135/762/408/sony-vinyl-record-player-1080P-wallpaper.jpg" alt="Imagen del disco">
                            <img class="w-24 h-24" src="https://www.wallpaperbetter.com/wallpaper/135/762/408/sony-vinyl-record-player-1080P-wallpaper.jpg" alt="Imagen del disco">
                            <img class="w-24 h-24" src="https://www.wallpaperbetter.com/wallpaper/135/762/408/sony-vinyl-record-player-1080P-wallpaper.jpg" alt="Imagen del disco">
                            <img class="w-24 h-24" src="https://www.wallpaperbetter.com/wallpaper/135/762/408/sony-vinyl-record-player-1080P-wallpaper.jpg" alt="Imagen del disco">
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2 mt-6 md:mt-0 md:pl-6">
                <h1 class="text-3xl font-bold mb-2">@MusicCatalog.Artist?.Name - @MusicCatalog.Title</h1>
                <p class="text-xl mb-4">Precio: $@MusicCatalog.Price</p>
                <p class="text-lg mb-4">Descripción:</p>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod risus quis eleifend consectetur. Pellentesque mollis elit quis tellus gravida fermentum.</p>
                <p class="text-lg mb-4">Cantidad:</p>
                <div class="flex w-full md:w-40 border-2 h-10 mb-4">
                    <button class="w-1/3 h-full bg-gray-200">-</button>
                    <input id="cantidad" class="w-1/3 text-center bg-gray-100" type="text" value="1">
                    <button class="w-1/3 h-full bg-gray-200">+</button>
                </div>
                <div class="space-y-4">
                    <button class="w-full px-4 py-2 text-white bg-blue-500 hover:bg-blue-600">Agregar al carrito</button>
                    <button class="w-full px-4 py-2 text-white bg-green-500 hover:bg-green-600">Comprar ahora</button>
                </div>
            </div>
        </div>
        <div class="my-3">
            <p class="pl-5 text-2xl font-bold">RECOMENDACIONES</p>
            <hr class="border-gray-300 my-2"/>
            <div class="flex justify-center p-2 md:p-5">
                <div class="grid grid-cols-1 gap-y-5 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 md:gap-x-10">
                    @foreach (var item in CatalogMusics!)
                    {
                        <CardCatalogMusic MusicCatalog="item"></CardCatalogMusic>
                    }
                    @foreach (var item in CatalogMusics)
                    {
                        <CardCatalogMusic MusicCatalog="item"></CardCatalogMusic>
                    }
                </div>
            </div>
        </div>
        <div class="my-3">
            <p class="pl-5 text-2xl font-bold">RECOMENDACIONES</p>
            <hr class="border-gray-300 my-2"/>
            <div class="flex justify-center p-2 md:p-5">
                <div class="grid grid-cols-1 gap-y-5 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 md:gap-x-10">
                    @foreach (var item in CatalogMusics)
                    {
                        <CardCatalogMusic MusicCatalog="item"></CardCatalogMusic>
                    }
                    @foreach (var item in CatalogMusics)
                    {
                        <CardCatalogMusic MusicCatalog="item"></CardCatalogMusic>
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
    
    [Inject] public IHttpClientHelper HttpClientHelper { get; set; }
    [Parameter]
    public int IdMusicCatalog { get; set; }

    private MusicCatalog? MusicCatalog { get; set; }
    private List<MusicCatalog>? CatalogMusics { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CatalogMusics = await HttpClientHelper.Get<MusicCatalog>(nameof(MusicCatalog));
        MusicCatalog = CatalogMusics.FirstOrDefault(x => x.Id == IdMusicCatalog) ?? new MusicCatalog();
        await base.OnInitializedAsync();
    }

}