@page "/"

<PageTitle>Index</PageTitle>
<Carrousel></Carrousel>
<div class="w-full px-10">
    @if (CatalogMusics.Any())
    {
        <div class="my-3">
            <p class="pl-5 text-2xl font-bold">NOVEDADES</p>
            <hr class="border-gray-300 my-2"/>
            <div class="overflow-x-scroll flex justify-center p-2 md:p-10">
                <div class="inline-flex space-x-5">
                    @foreach (var item in CatalogMusics)
                    {
                        <CardCatalogMusic MusicCatalog="item"></CardCatalogMusic>
                    }
                    @foreach (var item in CatalogMusics)
                    {
                        <CardCatalogMusic MusicCatalog="item"></CardCatalogMusic>
                    }
                </div>
            </div>
        </div>

        <div class="my-3">
            <p class="pl-5 text-2xl font-bold">ARTISTAS</p>
            <hr class="border-gray-300 my-2"/>
            <div class="flex justify-center p-2 md:p-5">
                <div class="grid grid-cols-1 gap-y-5 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 md:gap-x-10">
                    @foreach (var item in Artists)
                    {
                        <CardCatalogArtist Artist="item"></CardCatalogArtist>
                    }
                </div>
            </div>
        </div>

        <div class="my-3">
            <p class="pl-5 text-2xl font-bold">RECOMENDACIONES</p>
            <hr class="border-gray-300 my-2"/>
            <div class="flex justify-center p-2 md:p-5">
                <div class="grid grid-cols-1 gap-y-5 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 md:gap-x-10">
                    @foreach (var item in CatalogMusics)
                    {
                        <CardCatalogMusic MusicCatalog="item"></CardCatalogMusic>
                    }
                    @foreach (var item in CatalogMusics)
                    {
                        <CardCatalogMusic MusicCatalog="item"></CardCatalogMusic>
                    }
                </div>
            </div>
        </div>
    }
</div>