@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div>
            <a href="authentication/profile">Hello, @context.User.Identity?.Name!</a>
            <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
        </div>
    </Authorized>
    <NotAuthorized>          
        <a href="authentication/register" class="bg-gray-200 hover:bg-gray-300 rounded-full mb-1 px-4 py-2 mr-2 text-gray-800 font-medium">Iniciar sesión</a>
        <a href="Identity/Account/Login" class="bg-gray-800 hover:bg-gray-900 rounded-full px-4 py-2 mr-2 text-white font-medium">Registrarse</a>        
    </NotAuthorized>
</AuthorizeView>

@code
{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
