@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<body class="flex flex-col min-h-screen">
    <SuperNav></SuperNav>
    <BlazoredToasts Position="ToastPosition.BottomRight"/>
    <main class="flex-grow">
        @Body
    </main>
    <Footer></Footer>
</body>