@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<SuperNav></SuperNav>
<body class="flex flex-col min-h-screen">    
    <BlazoredToasts Position="ToastPosition.BottomRight" />
    <main @onclick="CloseSecondComponents" class="flex-grow">
        @Body
    </main>    
</body>
<Footer></Footer>