@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<div>
    <SuperNav></SuperNav>
    <BlazoredToasts Position="ToastPosition.BottomRight"/>
    <main>
        @Body
    </main>
</div>