
<nav class="bg-gray-100 flex flex-wrap items-center justify-between px-4 py-3 sm:px-6 lg:px-8 sticky-top">
  <!-- Hamburgesa -->
  <div class="flex items-center bg-blue-300">
    <button @onclick="@(() => SendOpenLeftBar.InvokeAsync())" class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600" aria-label="toggle menu">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
  </div>
  <!-- Logo -->
  <div class="flex-shrink-0 flex items-center justify-center"><a href="/"><img class="h-8 w-auto" src="/static/2.svg" alt="Imagina Vinyl"></a></div>
  <!-- Agrupación búsqueda-Logo -->
  <div class="flex items-center">
    <!-- Busqueda -->
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6">
        <path fill="currentColor" d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14z"/>
      </svg>
    </div>
    <!-- Carrito -->
    <div class="ml-4">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6">
        <path fill="currentColor" d="M15.55 13c.75 0 1.41-.41 1.75-1.03l3.58-6.49A.996.996 0 0 0 20.01 4H5.21l-.94-2H1v2h2l3.6 7.59l-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2h7.45zM6.16 6h12.15l-2.76 5H8.53L6.16 6zM7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2s-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2s2-.9 2-2s-.9-2-2-2z"/>
      </svg>
    </div>   
  </div>    
</nav>

@code {
  
  private bool ShowLeftBar { get; set; }
  [Parameter] public EventCallback SendOpenLeftBar { get; set; }
}