<div class="flex flex-col scroll-container-y items-start px-4 pt-25 space-y-3 h-[44rem] bg-gray-100 shadow-lg right-16 fixed z-50 top w-96">
    @if (MusicCatalogs.Any())
    {
        @foreach (var item in MusicCatalogs)
        {
            <CardCatalogMusicSearchBar MusicCatalogs="item"></CardCatalogMusicSearchBar>
        }
    }
    else if (isSearching)
    {
        <p class="mt-10 mx-auto">Buscando...</p>
        <svg class="animate-spin h-5 w-5 mr-3 ..." viewBox="0 0 24 24"></svg>
    }
    else
    {
        <p class="mt-10 mx-auto">Sin resultados</p>
    }
</div>