<div class="flex flex-col items-start pl-5 h-screen bg-gray-100 shadow-lg right-20 fixed z-50 top w-96 pt-5">
    @if (MusicCatalogs.Any())
    {
        @foreach (var item in MusicCatalogs)
        {
            <CardCatalogMusicSearchBar MusicCatalogs="item"></CardCatalogMusicSearchBar>
        }
    }
    else if (isSearching)
    {
        <p class="mt-10">Buscando...</p>
    }
    else
    {
        <p class="mt-10">Sin resultados</p>
    }
</div>