<NavBar SendOpenLeftBar="ChangeShowLeftBar"
        SendOpenSearchList="ChangeShowSearList"
        SendOpenShopCartList="ChangeShowShopCartList"
        SendCloseSecondComponent="CloseSecondComponets"
        SendRedirectPage="RedirectByPathUrl">
</NavBar>
<div class="flex text-gray-600 py-3 px-3 justify-center text-gray-800 space-x-10 underline overflow-y-auto">
    <a href="/IndexCatalogNews">Novedades</a>
    <a href="/IndexCatalogDiscount">Ofertas</a>
    <a href="/IndexCatalogAudio">Tornamesas</a>
    <a href="/IndexCatalogMusic/Vinyl">Vinyles</a>
    <a href="/IndexCatalogMusic/Cassette">Cassette</a>
    <a href="/IndexCatalogMusic/CD">CD</a>
</div>


@if (ShowLeftBar)
{
    <LeftNavBar SendRedirectPage="RedirectByPathUrl"></LeftNavBar>
}

@if (ShowSearList)
{
    <SearchNavBarList></SearchNavBarList>
}

@if (ShowShopCartList)
{
    <ShopCartNavBarList SendCloseComponent="CloseSecondComponets"></ShopCartNavBarList>
}