@using SharedApp.Models;
<div class="border border-slate-800">
    <a href="/">
        <img src="@MusicCatalog?.Images?.FirstOrDefault()?.Url" class="w-full h-64 object-cover object-center" alt="">
    </a>
    <div>
        <p>Titulo: @MusicCatalog?.Title</p>
        <p>Artista: @MusicCatalog?.Artist?.Name</p>
        <p>Genero: @MusicCatalog?.Genre?.Name</p>
        <p>Precio: @MusicCatalog?.Id</p>
    </div>
</div>

@code {

    [Parameter]
    public MusicCatalog MusicCatalog { get; set; } = new();

}