<div class="rounded-lg bg-gray-300 text-gray-900 shadow-lg flex-col w-64 card">
    <img src="@(Artist.Image?.Url ?? "https://salvajemusicstore.com/cdn/shop/collections/bd3b1065424b8623dc30d7846c666a56_330x.jpg?v=1644812626")" class="w-full rounded-lg h-56 object-cover object-center" alt="">
    <div class="p-2 sm:h-28 text-center text-lg font-bold">
        <p>@Artist.Name</p>
    </div>
</div>

@code {

    [Parameter]
    public Artist Artist { get; set; } = new();
}