@using SharedApp.Models;
<div class="border border-slate-800">
    <a href="/">
        <img src="https://imusic.b-cdn.net/images/item/original/532/0887828045532.jpg?arctic-monkeys-2022-the-car-lp&class=scaled" class="w-full h-64 object-cover object-center" alt="">
    </a>
    <div>
        <p>Titulo: @CatalogMusic.Title</p>
        <p>Artista: @CatalogMusic?.Artist?.Name</p>
        <p>Genero: @CatalogMusic?.Genre?.Name</p>
        <p>Precio: @CatalogMusic?.Id</p>
    </div>
</div>

@code {
    [Parameter] public CatalogMusic CatalogMusic { get; set; }
}